:root {
  --white-color: #ffffff;

  --gray-100: #e4edff;
  --gray-200: #d6d6d6;
  --gray-400: #55565a;
  // --gray-500: #38535d;
  --gray-600: #282829;
  --gray-800: #222222;

  --green: #2b8a3e;
  // --red: #ff0000;
  // --brown: #8b4513;
  --yellow: #fad218;
  --orange: #ff9900;
  --cyan: #70dacc;
  --blue: #4618ac;
  --blue-dark: #2b0f6c;

  --bg-color: var(--blue);
  --bg-color-dark: var(--blue-dark);
  --text-color: var(--gray-100);
  --border-color: var(--cyan);
  --input-border-color: var(--gray-200);

  --primary-color: var(--yellow);
  --primary-color-hover: var(--orange);
  --text-secondary: var(--gray-400);

  --header-bg: var(--bg-color-dark);

  --border-radius: 4px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;

  /* buttons */
  --btn-border-radius: 0;
  --btn-font-size: 16px;
}
