.game-card-vertical {
  border: 2px solid var(--border-color);
  background: #1a0033;
  // color: #fff;
  overflow: hidden;

  .image-wrapper {
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
      background-color: #222;
    }

    .cashback-badge {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: var(--cyan);
      color: #000;
      font-weight: bold;
      font-size: 12px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .store-badge {
    background: #004000;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 13px;
    gap: 6px;

    img {
      width: 18px;
      height: 18px;
    }
  }

  .game-info {
    padding: 12px;

    h4 {
      font-size: 14px;
      margin-bottom: 6px;
      color: #ffffff;
    }

    .region {
      font-size: 12px;
      font-weight: bold;
      color: #28e3ff;
    }

    .price-details {
      margin-top: 8px;
      font-size: 13px;

      .old-price {
        text-decoration: line-through;
        color: #ccc;
        margin-right: 6px;
      }

      .discount {
        color: #4aff4a;
        font-weight: bold;
      }
    }

    .final-price {
      font-size: 20px;
      font-weight: bold;
      margin-top: 4px;
      color: #ffffff;
    }

    .bottom {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-top: 10px;
      font-size: 14px;
      color: #bbb;

      .heart {
        font-size: 18px;
      }
    }
  }
  .button {
    width: 100%;
  }

  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}
